/* Description: Crunchyroll subtitle style */

.htmlvideoplayer::cue {
    font-family: Trebuchet MS !important; 
    
    color: white !important; /* Text color */
    --stroke-color: black; /* Outline color */
    --stroke-width: 4px;
    --drop-shadow-offset: 2px;
    
    text-shadow:
        calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
        calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.5) calc(var(--stroke-width) * 0.866) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.866) calc(var(--stroke-width) * 0.5) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.5) calc(var(--stroke-width) * -0.866) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.5) calc(var(--stroke-width) * -0.866) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.866) calc(var(--stroke-width) * -0.5) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.5) calc(var(--stroke-width) * 0.866) 0 var(--stroke-color),
        calc(var(--stroke-width) * 0.866) calc(var(--stroke-width) * -0.5) 0 var(--stroke-color),
        calc(var(--stroke-width) * -0.866) calc(var(--stroke-width) * 0.5) 0 var(--stroke-color),
        calc(var(--stroke-width) + var(--drop-shadow-offset)) calc(var(--stroke-width) + var(--drop-shadow-offset)) 15px var(--stroke-color) !important;
